In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#define the dataframe of the csv file which holds the dataset using pandas
df = pd.read_csv("c:/Users/Grace Newhart/Desktop/LearnIT Girl/IBMDataset.csv")

In [4]:
#read the first 20 lines of data
df.head(20)

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
0,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,United States,315044.33,437477.15,158371.76,66385.0,2.552857,6.59,156672.57,5.195714
1,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Canada,13444.68,14313.48,6298.80,2172.0,2.900000,6.59,7145.88,6.190000
2,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Japan,181120.24,235236.64,89413.06,35696.0,2.657000,6.59,91707.18,5.488000
5,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,China,69608.15,100200.95,35326.25,15205.0,2.495000,6.59,34281.90,5.040000
7,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Singapore,30940.35,51619.47,16370.97,7833.0,2.090000,6.59,14569.38,3.950000
8,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Netherlands,74321.18,94421.52,36531.63,14328.0,2.697500,6.59,37789.55,5.585000
10,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Sweden,18474.15,30821.43,9774.93,4677.0,2.090000,6.59,8699.22,3.950000
11,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Finland,80890.34,117236.10,41021.31,17790.0,2.495000,6.59,39869.03,5.070000
12,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Denmark,31746.70,33325.63,14665.30,5057.0,2.900000,6.59,17081.40,6.283333
13,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,France,103244.26,138113.22,51200.76,20958.0,2.630000,6.59,52043.50,5.443333
14,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,United Kingdom,160227.13,220995.65,80307.11,33535.0,2.576000,6.59,79920.02,5.270000
16,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Austria,67179.39,85399.81,32490.25,12959.0,2.697500,6.59,34689.14,5.750000
19,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#read the last 20 lines of data
df.tail(20)

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
84652,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84653,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84654,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84655,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84656,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84657,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84658,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84659,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84660,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84661,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84662,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84663,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84664,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84665,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84666,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84667,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84668,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84669,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84670,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84671,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#how many rows and how many columns are in the dataset
print(df.shape)

(84672, 14)

In [8]:
#describe the statistical characteristics of each numerical feature
df.describe()

,Year,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
count,84672.000000,2.474300e+04,2.474300e+04,2.474300e+04,24743.000000,24743.000000,24743.000000,2.474300e+04,24743.000000
mean,2005.500000,1.894183e+05,1.988175e+05,1.116251e+05,3606.559067,84.886432,155.991651,7.779311e+04,147.229912
std,1.118041,3.907509e+05,4.025355e+05,2.384156e+05,8777.721091,131.113339,246.804787,1.581223e+05,232.048812
min,2004.000000,0.000000e+00,1.569000e+01,5.760000e+00,1.000000,0.850000,2.060000,-1.815960e+04,0.000000
25%,2004.750000,1.857921e+04,1.955679e+04,9.431740e+03,328.000000,11.430000,23.000000,8.333060e+03,20.150000
50%,2005.500000,5.986727e+04,6.390684e+04,3.278372e+04,1043.000000,36.828644,66.770000,2.579376e+04,62.650000
75%,2006.250000,1.901930e+05,2.039956e+05,1.113709e+05,3288.000000,80.000000,148.300000,7.825415e+04,140.956667
max,2007.000000,1.005429e+07,1.005429e+07,6.756853e+06,313628.000000,690.000000,1359.720000,3.521098e+06,1307.802727

In [10]:
#describe the statistical characteristics of non-numerical features
df.describe(include=['object', 'bool'])

,Product line,Product type,Product,Order method type,Retailer country
count,84672,84672,84672,84672,84672
unique,5,21,144,7,21
top,Personal Accessories,Eyewear,TrailChef Kettle,Telephone,Korea
freq,30576,9408,588,12096,4032

In [9]:
#describe all the column names
print(df.columns)

Index(['Year', 'Product line', 'Product type', 'Product', 'Order method type',
       'Retailer country', 'Revenue', 'Planned revenue', 'Product cost',
       'Quantity', 'Unit cost', 'Unit price', 'Gross profit',
       'Unit sale price'],
      dtype='object')